[submodule "externals/common"]
	path = externals/common
	url = https://github.com/dev-0x7C6/common.git
[submodule "formatter"]
	path = formatter
	url = https://github.com/dev-0x7C6/clang-formatter-integration.git
